<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width"/>
    <meta name="author" content="www.yanshisan.cn"/>
    <meta name="robots" content="all"/>
    <title>文章</title>
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/layui/css/layui.css"/>
    <link rel="stylesheet" href="../static/css/master.css"/>
    <link rel="stylesheet" href="../static/css/gloable.css"/>
    <link rel="stylesheet" href="../static/css/nprogress.css"/>
    <link rel="stylesheet" href="../static/css/blog.css"/>
</head>
<style th:inline="css">
    .header {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        background-color: #000;
        position: fixed !important;
        background-image: url('[[${shareProperties.getBackgroundImage()}]]');
        background-size: 100% 100%
    }
</style>
<body>
<div class="header">
</div>
<div class="gird-header">
    <div class="header-fixed">
        <div class="header-inner">
            <a class="header-logo" th:text="${shareProperties.logo}">Mr.Yss</a>
            <nav class="nav" id="nav">
                <ul>
                    <li th:each="navigation:${navigations}"><a th:href="${navigation.url}"
                                                               th:text="${navigation.title}">首页</a></li>
                </ul>
            </nav>
            <!--=============用户登录=============-->
            <a th:if="${session.user} == null" onclick="login()" href="javascript:;" class="blog-user">
                <i class="fa fa-qq"></i>
            </a>
            <a th:if="${session.user} != null" onclick="logout()" href="javascript:;" class="blog-user">
                <img th:src="${session.user.icon}"
                     th:alt="${session.user.name}"
                     th:title="${session.user.name}"/>
            </a>
            <!--=============用户登录=============-->
            <a class="phone-menu">
                <i></i>
                <i></i>
                <i></i>
            </a>
        </div>
    </div>
</div>

<div class="doc-container" id="doc-container">
    <div class="container-fixed">
        <div class="col-content">
            <div class="inner">
                <article class="article-list bloglist" id="LAY_bloglist">
                    <!--文章位置-->
                </article>
            </div>
        </div>
        <div class="col-other">
            <div class="inner">
                <div class="other-item" id="categoryandsearch">
                    <div class="search">
                        <label class="search-wrap">
                            <input type="text" id="searchtxt" placeholder="输入关键字搜索"/>
                            <span class="search-icon">
                                <i onclick="search()" class="fa fa-search"></i>
                            </span>
                        </label>
                        <ul class="search-result"></ul>
                    </div>
                    <ul class="category mt20" id="category">
                        <li data-index="0" class="slider"></li>
                        <li data-index="1"><a href="#">全部文章</a></li>
                        <!--标签内容-->
                        <li th:each="label,labelStat:${labels}" th:data-index="1+${labelStat.count}"><a
                                th:text="${label.name}"
                                th:onclick="checkLabel([[${label.id}]])"></a>
                        </li>
                    </ul>
                </div>
                <!--右边悬浮 平板或手机设备显示-->
                <div class="category-toggle"><i class="layui-icon">&#xe603;</i></div>
                <div class="article-category">
                    <div class="article-category-title">分类导航</div>
                    <a th:each="label,labelStat:${labels}" th:onclick="checkLabel([[${label.id}]])"
                       th:text="${label.name}"></a>
                    <div class="f-cb"></div>
                </div>
                <!--遮罩-->
                <div class="blog-mask animated layui-hide"></div>
                <div class="other-item">
                    <h5 class="other-item-title">热门文章</h5>
                    <div class="inner">
                        <ul class="hot-list-article">
                            <li th:each="hotArticle:${hotArticles}">
                                <a th:text="${hotArticle.title}"
                                   th:href="'/article/read/'+${hotArticle.id}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="other-item">
                    <h5 class="other-item-title">置顶推荐</h5>
                    <div class="inner">
                        <ul class="hot-list-article">
                            <li th:each="topArticle:${topArticles}">
                                <a th:text="${topArticle.title}" th:href="'/article/read/'+${topArticle.id}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="other-item">
                    <h5 class="other-item-title">最近访客</h5>
                    <div class="inner">
                        <dl class="vistor">
                            <dd th:each="user:${users}"><a>
                                <img th:src="${user.icon}"><cite th:text="${user.name}"></cite></a>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="grid-footer">
    <div class="footer-fixed">
        <div class="copyright">
            <div class="info">
                <!--底部信息-->
                <span th:text="${shareProperties.copyright}"></span> <a th:href="${shareProperties.record_url}">
                <i th:text="${shareProperties.record_title}" style="color: gray"></i></a>
            </div>
        </div>
    </div>
</footer>
<script>NProgress.start();</script>
<script src="../static/layui/layui.js"></script>
<script src="../static/js/yss/gloable.js"></script>
<script src="../static/js/plugins/nprogress.js"></script>
<script src="../static/js/yss/article.js"></script>
<script src="../static/js/user.js"></script>
<script src="../static/js/jquery.min.js"></script>
<script>
    /*电脑自动加载文章*/
    let isAuto = false;
    if (navigator.platform.indexOf("Win") == 0) {
        isAuto = true;
    }

    let labelId = -1;
    let searchtxt = '';

    function search() {
        searchtxt = $("#searchtxt").val();
        $("#LAY_bloglist").empty();
        getArticle();
    }

    function checkLabel(lId) {
        labelId = lId;
        searchtxt = '';
        $("#LAY_bloglist").empty();
        getArticle();
    }


    getArticle();

    function getArticle() {
        /*加载文章*/
        layui.use('flow', function () {
            var $ = layui.jquery;
            var flow = layui.flow;
            flow.load({
                elem: '#LAY_bloglist',
                isAuto: isAuto,
                mb: 1,
                end: '-----------我也是有底线的-----------',
                done: function (page, next) {
                    $.ajax({
                        type: 'post',
                        url: 'article/list?currentPage=' + page + "&labelId=" + labelId + "&searchTxt=" + searchtxt,
                        success: function (data) {
                            next(data.articles, page < data.pageTotal);
                        },
                        error: function () {
                            layer.msg('服务器出现了错误，请联系管理员，谢谢。<br/>QQ：2258354832<br/>email：2258354832@qq.com', {
                                icon: 2,
                                time: 4000
                            }, function (index) {
                                location.href = "/index"
                                layer.close(index);
                            });
                        },
                        dataType: 'json'
                    })

                }
            });
        });
    }

    window.onload = function () {
        NProgress.done();
    };
</script>
</body>
</html>
