<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章评论</title>
    <link rel="stylesheet" href="../../static/css/font.css">
    <link rel="stylesheet" href="../../static/css/xadmin.css">
    <script src="../../static/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../static/js/xadmin.js"></script>
    <script src="../../static/js/page/diary-api.js"></script>
</head>

<body>
<div class="x-nav">
           <span class="layui-breadcrumb">
                <a href="javascript:">首页</a>
                <a href="javascript:">日记管理</a>
                <a>
                    <cite>日记列表</cite>
                </a>
            </span>
    <a class="layui-btn layui-btn-sm" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <div class="layui-form layui-col-space5">
                        <div class="layui-inline layui-show-xs-block">
                            <input id="startTime" class="layui-input" autocomplete="off" placeholder="开始日" name="start">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input id="endTime" class="layui-input" autocomplete="off" placeholder="截止日" name="end">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button id="search" class="layui-btn">
                                <i class="layui-icon">&#xe615;</i></button>
                        </div>
                    </div>
                </div>
                <div class="layui-card-body ">
                    <table class="layui-hide" id="test" lay-filter="demo"></table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="del">回收</a>
</script>

<script type="text/html" id="isHidden">
    <input id="{{d.id}}" type="checkbox" name="lock" value="{{d.hidden}}" title="显示" lay-filter="isHidden"
           {{ d.hidden==0 ? 'checked' : '' }}>
</script>

<script>

    /*日期插件*/
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        laydate.render({
            elem: '#startTime'
        });
        laydate.render({
            elem: '#endTime'
        });
    });


    layui.use(['form', 'util'], function () {
        var form = layui.form;
        form.on('checkbox(isHidden)', function (obj) {
            setHidden(obj.elem.id, obj.elem.checked)
        });
    })

    layui.use('table', function () {
        let table = layui.table;
        let $ = layui.jquery;
        let diaryTable;
        /*事件监听*/
        table.on('tool(demo)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('确定将该日记放入回收站?', {icon: 3, title: '警告'}, function (index) {
                    recycleDiary(data.id)
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'setContent') {
                layer.open({
                    type: 2,
                    anim: 1,
                    title: '【' + data.createTime + '】的日记',
                    content: '/admin/diary-add.html?id=' + obj.data.id,
                    area: ['1200px', '560px'],
                    end: function () {
                        diaryTable.reload()
                    }
                });
            }
        });

        /*数据渲染*/
        diaryTable = table.render({
            elem: '#test'
            , url: '/admin/diary/getAdminDiaryPage'
            , page: {
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip']
                , groups: 5 //只显示 1 个连续页码
                , first: false //不显示首页
                , last: false //不显示尾页
            }
            , cols: [[
                {field: 'id', width: 80, title: 'ID', sort: true}
                , {field: 'content', title: '日记内容', event: 'setContent'}
                , {field: 'hidden', width: 110, title: '隐藏', templet: '#isHidden'}
                , {
                    field: 'createTime',
                    width: 160,
                    title: '创建时间',
                    sort: true,
                    templet: "<div>{{layui.util.toDateString(d.createTime, 'yyyy-MM-dd HH:mm:ss')}}</div>"
                }
                , {fixed: 'right', width: 80, title: '操作', align: 'center', toolbar: '#barDemo'}
            ]]
        });

        /*条件查询*/
        $("#search").click(function () {
            diaryTable.reload({
                url: '/admin/diary/getAdminDiaryPage'
                , where: {
                    startTime: $("#startTime").val(),
                    endTime: $("#endTime").val(),
                }
                , page: {
                    curr: 1
                }
            })
        })

    });
</script>

</html>
