<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章列表</title>
    <link rel="stylesheet" href="../../static/css/font.css">
    <link rel="stylesheet" href="../../static/css/xadmin.css">
    <script src="../../static/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../static/js/xadmin.js"></script>
    <script src="../../static/js/jquery.min.js"></script>
</head>
<body>
<div class="x-nav">
               <span class="layui-breadcrumb">
                <a href="javascript:">首页</a>
                <a href="javascript:">系统设置</a>
                <a>
                    <cite>共享设置</cite>
                </a>
            </span>
    <a class="layui-btn layui-btn-sm" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <div class="layui-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">logo：</label>
                            <div class="layui-input-block">
                                <input id="logo" type="text" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">backgroundImage：</label>
                            <div class="layui-input-block">
                                <input id="backgroundImage" type="text" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 100px">copyright：</label>
                            <div class="layui-input-block">
                                <input id="copyright" type="text" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">record_title：</label>
                            <div class="layui-input-block">
                                <input id="record_title" type="text" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">record_url：</label>
                            <div class="layui-input-block">
                                <input id="record_url" type="text" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button id="commit" class="layui-btn">立即保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>


    layui.use(['form'], function () {
        let $ = layui.jquery;

        /*数据回显*/
        $(function () {
            $.ajax({
                type: 'get',
                url: '/admin/properties/getShareProperties',
                dataType: 'json',
                async: false,
                success: function (data) {
                    $('#logo').val(data.logo);
                    $('#backgroundImage').val(data.backgroundImage);
                    $('#copyright').val(data.copyright);
                    $('#record_title').val(data.record_title);
                    $('#record_url').val(data.record_url);
                }
            })
        })

        /*表单提交*/
        $("#commit").click(function () {
            let logo = $("#logo").val();
            let backgroundImage = $("#backgroundImage").val();
            let copyright = $("#copyright").val();
            let record_title = $("#record_title").val();
            let record_url = $("#record_url").val();
            $.ajax({
                type: 'post',
                url: '/admin/properties/updateShareProperties',
                dataType: 'json',
                contentType: "application/json;charset=UTF-8",
                data: JSON.stringify({
                    "logo": logo,
                    "backgroundImage": backgroundImage,
                    "copyright": copyright,
                    "record_title": record_title,
                    "record_url": record_url,
                }),
                success: function (data) {
                    if (data.code === 0) {
                        layer.msg("添加成功")
                    } else {
                        layer.msg("修改成功")
                    }
                }
            })
        })
    });
</script>
</html>
