<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章列表</title>
    <link rel="stylesheet" href="../../static/css/font.css">
    <link rel="stylesheet" href="../../static/css/xadmin.css">
    <script src="../../static/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../static/js/xadmin.js"></script>
    <script src="../../static/js/jquery.min.js"></script>
</head>
<body>
<div class="x-nav">
               <span class="layui-breadcrumb">
                <a href="javascript:">首页</a>
                <a href="javascript:">系统设置</a>
                <a>
                    <cite>日记设置</cite>
                </a>
            </span>
    <a class="layui-btn layui-btn-sm" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
    </a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <div class="layui-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">startTime：</label>
                            <div class="layui-input-block">
                                <input id="startTime" type="text" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">endTime：</label>
                            <div class="layui-input-block">
                                <input id="endTime" type="text" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button id="commit" class="layui-btn">立即保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>


    layui.use(['form'], function () {
        let $ = layui.jquery;

        /*数据回显*/
        $(function () {
            $.ajax({
                type: 'get',
                url: '/admin/properties/getDiaryProperties',
                dataType: 'json',
                async: false,
                success: function (data) {
                    $('#startTime').val(data.startTime);
                    $('#endTime').val(data.endTime);
                }
            })
        })

        /*表单提交*/
        $("#commit").click(function () {
            let startTime = $("#startTime").val();
            let endTime = $("#endTime").val();
            $.ajax({
                type: 'post',
                url: '/admin/properties/updateDiaryProperties',
                dataType: 'json',
                contentType: "application/json;charset=UTF-8",
                data: JSON.stringify({
                    "startTime": startTime,
                    "endTime": endTime,
                }),
                success: function (data) {
                    if (data.code === 0) {
                        layer.msg("添加成功")
                    } else {
                        layer.msg("修改成功")
                    }
                }
            })
        })
    });
</script>
</html>
